.App {
  text-align: center;
}

#root {
  background-color: rgb(236, 236, 236);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recharts-wrapper {
  margin: auto;
}

.box1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
}

.show-chart {
  background-color: rgb(244, 246, 248);
  padding: 2vh;
  border: 1px solid rgb(211, 211, 211);
}

.title-paragraph {
  margin: 0 0 1vh 0;
  font-size: 20px;
  text-align: center;
}

.bold {
  font-weight: 500;
}
